•⁠  ⁠{
  box-sizing: border-box;
  margin: 0;
  font-family: montserrat, sans-serif;
}

h1 {
    color: rgb(255, 255, 255);
    font-size: 50px;
    text-align: center;
    padding-bottom: 0px;
}

h4 {
  text-align: center;
  color: rgb(248, 226, 242);
  font-size: 15px;
  margin-bottom: 20px;
}

.calendar-bg {
  background-image: url('KUVAT/tausta_pinkii.jpg');
  background-size: cover;
  background-position: center;
  padding-bottom: 50px;
}

.title {
  text-align: center;
  color: white;
  letter-spacing: 0.3vw;
  font-size: 10vw;
  line-height: 1;
  padding-top: 30px;
  margin: 0px auto 30px;

  @media screen and (min-width: 440px) {
    letter-spacing: 3px;
    font-size: 3em;
  }

  @media screen and (min-width: 768px) {
    letter-spacing: 4px;
    font-size: 4em;
  }
}

.grid {
  padding: 20px;
  max-width: 960px;
  margin: 0px auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 3vw;
  perspective: 1500px;

  @media screen and (min-width: 440px) {
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 16px;
  }

  @media screen and (min-width: 600px) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
  }

  @media screen and (min-width: 768px) {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
}

.day {
  min-height: 123px;
  box-sizing: border-box;
  position: relative;
  box-shadow: 0 0 20px rgba(80, 80, 120, 0.5) inset, 0 0 5px 2px rgba(80, 80, 120, 0.3) inset;
  z-index: 0;
}

.door:hover {
    cursor: pointer;
    transform: scale(1.05);
    transition: transform 0.3s ease;
    background-color: rgb(32, 70, 46);
}

.door {
  background-color: #dd0707;
  background-image: linear-gradient(45deg, white, transparent 5%, transparent 45%, white 50%, transparent 55%, transparent 95%, white 100%);
  background-size: 20px 20px;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transform-origin: left center;
  transform-style: preserve-3d;
  transform: rotateY(0deg);
  cursor: pointer;
  z-index: 10;
}

/* back of door */
.door:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgb(170, 10, 10);
  transform: translateZ(-1px);
}

.open {
  z-index: 100;
  animation: open-door 1s forwards;
}

@keyframes open-door {
  from {
    transform: rotateY(0deg);
  }

  to {
    transform: rotateY(-90deg);
    z-index: 200;
  }
}

.number {
  position: absolute;
  top: 6px;
  right: 6px;
  text-align: center;
  color: #fff;
  font-size: 5vw;
  font-weight: 600;
  min-width: 30px;
  background: #dd0707;
  padding: 5px 7px;
  border-radius: 50% 50%;

  @media screen and (min-width: 440px) {
    font-size: 1.5em;
  }

  @media screen and (min-width: 768px) {
    font-size: 1.8em;
  }
}

.number.current-day {
    color: #FFD700; 
    border: 2px solid #FFD700;
    box-shadow: 0 0 10px #FFD700, inset 0 0 5px #FFD700;
    text-shadow: 0 0 5px #000;
    background: #a80000; 
}

.number.past-day {
    color: rgb(255, 255, 255);; 
    border: 2px solid rgb(24, 116, 8);;
    background: #a80000;
}

.bg-img {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(216, 226, 210, 1);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 0;
}

h6 {
    text-align: center;
    font-size: 10px;
    color: #f5dafd;
    padding-top: 0px;
    padding-bottom: 15px;   

}

.title-link {
    text-decoration: none; 
    display: block; 
}

.title-link:hover {
    text-decoration: none;
}

.title-link:visited {
    text-decoration: none;
}

.title-link:active {
    text-decoration: none;
}
